@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Inked Hearts</h1>
    <i class="text-info-emphasis">Where every heartbeat becomes a story or poem.</i>
</div>
